
<P>
<TABLE>
</TR><TD WIDTH=250 COLSPAN="3"><B>Beginner - Basic usage</B></TD></TR>
 <TD WIDTH=250><A HREF="./Characteristic.html">Characteristic</A></TD>
 <TD WIDTH=250><A HREF="./CharacteristicType.html">CharacteristicType</A></TD>
 <TD WIDTH=250><A HREF="./"></A></TD>
<TR>
</TR><TD WIDTH=250 COLSPAN="3"><B>Intermediate - Setting options for algorithms and data structures</B></TD></TR>
 <TD WIDTH=250><A HREF="./CharacteristicSetType.html">CharacteristicSetType</A></TD>
 <TD WIDTH=250><A HREF="./"></A></TD>
 <TD WIDTH=250><A HREF="./"></A></TD>
</TR><TD WIDTH=250 COLSPAN="3"><B>Advanced - Setting more advanced options and customization</B></TD></TR>
 <TD WIDTH=250><A HREF="./CharacteristicRegister.html">CharacteristicRegister</A></TD>
 <TD WIDTH=250><A HREF="./CharacteristicRegisterAll.html">CharacteristicRegisterAll</A></TD>
 <TD WIDTH=250><A HREF="./CharacteristicRegisterDynamic.html">CharacteristicRegisterDynamic</A></TD>
<TR>
</TR><TD WIDTH=250 COLSPAN="3"><B>Developer - Interfaces intended primarily for library developers, not for typical applications programmers</B></TD></TR>
 <TD WIDTH=250><A HREF="./CharacteristicInitializePackage.html">CharacteristicInitializePackage</A></TD>
 <TD WIDTH=250><A HREF="./CharacteristicSetUp.html">CharacteristicSetUp</A></TD>
 <TD WIDTH=250><A HREF="./"></A></TD>
<TR>
</TR><TD WIDTH=250 COLSPAN="3"><B>No deprecated routines</B></TD></TR>
</TABLE>
<BR><A HREF="../../index.html"><IMG SRC="../up.gif">Table of Contents</A>
